<?xml version="1.0"?>
<launch>
    <arg name="clearance" default="0.1" doc="sets minimum distance to walls" />

    <arg name="width_x" value="1.8" />
    <arg name="width_y" value="3.5" />
    <arg name="depth"   value="1.5" />

    <group if="$(eval arg('clearance') > 0.0)" >
        <group ns="x" >
            <param name="lower" value="$(arg clearance)" type="double" />
            <param name="upper" value="$(eval arg('width_x') - arg('clearance'))" type="double" />
        </group>
        <group ns="y" >
            <param name="lower" value="$(arg clearance)" type="double" />
            <param name="upper" value="$(eval arg('width_y') - arg('clearance'))" type="double" />
        </group>
        <group ns="z" >
            <param name="lower" value="$(eval arg('clearance') - arg('depth'))" type="double" />
            <param name="upper" value="0.0" type="double" />
        </group>
    </group>
</launch>