<?xml version="1.0"?>
<launch>
    <param name="type" value="revolute" type="string" />

    <arg name="ahead_of_parent" />
    <arg name="x_pos" default="0.275" />
    <arg name="axis" default="3" />

    <param if="$(arg ahead_of_parent)" name="x_pos" value="$(eval -arg('x_pos'))" type="double" />
    <param unless="$(arg ahead_of_parent)" name="x_pos" value="$(arg x_pos)" type="double" />
    <param name="axis" value="$(arg axis)" type="int" />

    <group ns="bounds" >
        <param name="pose"  value="2.25"    type="double" />
        <param name="twist" value="1.0"     type="double" />
    </group>
</launch>