<?xml version="1.0"?>
<launch>
    <arg name = "prefix" default="" />

    <node pkg="rosbag" type="record" name="data_recorder" args="-o $(find hippo_chain)/bags/$(arg prefix)
        /ChainController/parameter_descriptions
        /ChainController/parameter_updates
        /ChainPlanner/parameter_descriptions
        /ChainPlanner/parameter_updates
        /KalmanFilter/parameter_descriptions
        /KalmanFilter/parameter_updates
        /VehicleControllers/parameter_descriptions
        /VehicleControllers/parameter_updates
        /chain/state
        /chain/target
        /clock
        /tf
        /tf_static
        /uuv00/ground_truth/odom
        /uuv00/mavros/setpoint_raw/target_attitude
        /uuv00/target_pose
        /uuv01/ground_truth/odom
        /uuv01/mavros/setpoint_raw/target_attitude
        /uuv01/target_pose
        /uuv02/ground_truth/odom
        /uuv02/mavros/setpoint_raw/target_attitude
        /uuv02/target_pose"/>
</launch>
