<?xml version="1.0"?>
<launch>
    <arg name="base_file" value="$(find hippo_chain)/config/controller/vehicle/vehicle_controller.launch" />
    <arg name="child_file" value="$(find hippo_chain)/config/controller/vehicle/child_vehicle_controller.launch" />

    <param name="dynamic_reconfigure_dir" value="$(find hippo_chain)/cfg/" />

    <include ns="uuv0" file="$(arg child_file)" >
        <arg name="ahead_of_parent" value="true" />
        <arg name="parent" value="uuv01" />
    </include>

    <include ns="uuv1" file="$(arg base_file)" />

    <include ns="uuv2" file="$(arg child_file)" >
        <arg name="ahead_of_parent" value="true" />
        <arg name="parent" value="uuv01" />
    </include>

</launch>